html, body, div, span, applet,
object, iframe, h5, h6,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section {
  display: block;
}

ol,
ul {
  list-style: none;
}

div:focus {
  outline: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px 15px;
  margin-bottom: 12px;
}

input, textarea {
  box-shadow: none !important;
  border-radius: 0;
}

input:focus, textarea:focus, select:focus, option:focus {
  outline: none;
}

p {
  margin-bottom: 15px;
}

body {
  color: #000;
  font-family: "montserrat-regular";
  background-color: #fff;
  overflow: auto;
  overflow-x: hidden !important;
}

body.hide_scroll {
  padding-right: 17px;
  overflow: hidden !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clear {
  clear: both;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase !important;
}

.posrel {
  position: relative;
}

.posabs {
  position: absolute;
}

.mar0auto {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.maze_o {
  color: #ff9600;
}

.maze_b {
  color: #000;
}

.text_main_color {
  color: #FFDD00;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

::selection {
  color: #000;
  background: #FFDD00;
}

:focus {
  outline: none !important;
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: fa-beat 1.2s ease infinite;
  display: inline-block;
  padding: 0px 5px 0px 4px;
  color: #d09615;
}

.navbar-brand {
  position: relative;
}

header {
  z-index: 2;
  position: relative;
}

.site-header {
  padding: 1rem 0;
  z-index: 13;
}

.site-header .header-logo {
  width: 160px;
  opacity: 0;
}

.site-header .header-logo.active {
  opacity: 1;
  transition-duration: 2s;
}

.site-header.shadow_class {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
}

.header-style {
  float: right;
}

.header-style ul {
  display: flex;
}

.header-style a {
  display: inline-block;
  padding: 1.4rem;
  font-family: "nudista-semibold-regular";
  text-transform: uppercase;
  font-size: 1.1rem;
  transition: all .6s ease;
  opacity: 1;
}

.header-style a::before {
  content: '';
  position: absolute;
  bottom: 70%;
  left: 50%;
  width: 2px;
  height: 3rem;
  background-color: #000;
  transition: .3s ease;
  transform-origin: top;
  transform: translateX(-50%) scaleY(0);
}

.header-style a:hover::before {
  background-color: #000;
  transform: translateX(-50%) scaleY(1);
}

.header-style .project_active a.active::before {
  background-color: #FFDD00;
  transform: translateX(-50%) scaleY(1);
}

.header-style .page_active a.active::before {
  background-color: #FFDD00;
  transform: translateX(-50%) scaleY(1);
}

.header-style .current-menu-item {
  position: relative;
}

.header-style .current-menu-item a::before {
  background-color: #FFDD00;
  transform: translateX(-50%) scaleY(1);
}

.header_style_shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px -3px;
}

.menu-main-menu-container .menu-item {
  position: relative;
}

.page_active {
  position: relative;
}

.project_active {
  position: relative;
}

.mobile_active_blur_part {
  background-blend-mode: overlay;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.5s;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.second_color {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 14;
}

.page_loader {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: 15;
  top: 0px;
}

.page_loader .logo_loading {
  margin-bottom: 13px;
  width: 160px;
}

.page_loader .progress_cont {
  width: 200px;
  margin: 0 auto;
  display: inline-block;
}

.page_loader .progress_cont .progress {
  height: 5px;
  background-color: transparent;
}

.page_loader .progress_cont .progress .progress-bar {
  background-color: #FFDD00;
}

.page_loader .progress_cont .line_fixed {
  background-color: #FFDD00;
  height: 2px;
  margin-top: 5px;
  opacity: .2;
}

.page_loader .loader_info_cont {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.page_loader .loader_info_cont .loader_info_cont_inner {
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

.page_loader.shoo {
  opacity: 0;
}

.queryloader__overlay {
  display: none !important;
}

:root {
  --homepage-delay-v: 0s;
}

.animate_part_0 {
  transform: translateY(0px);
  transition-duration: 1s;
  transition-delay: var(--homepage-delay-v);
  opacity: 1;
}

.animate_part_0_active {
  transform: translateY(100px);
  opacity: 0;
}

section {
  padding: 7rem 0;
}

.background_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.on_hover_animation {
  overflow: hidden;
}

.on_hover_animation .background_img {
  transition: cubic-bezier(0.32, 0.17, 0, 1) 0.4s;
}

.on_hover_animation .background_img:hover {
  transform: scale(1.05);
}

.h1_style {
  font-family: "nudista-bold";
  font-size: 2.7rem;
  line-height: 1.346;
  color: #fff;
  max-width: 700px;
  text-transform: uppercase;
}

.p_style {
  font-family: "montserrat-regular";
  font-size: 1.2rem;
  color: #fff;
}

.buttonstyle {
  text-align: center;
  border: none;
  font-family: "montserrat-semibold";
  font-size: 1rem;
  line-height: 1.167;
  color: #000;
  background-color: #FFDD00;
  padding: .5rem 1.9rem;
  cursor: pointer;
  position: relative;
  outline: none;
  border-bottom: 1px solid #FFDD00;
}

.buttonstyle::after {
  content: '';
  margin: auto;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  left: 0;
  width: 100%;
  transition: ease .5s;
  transform-origin: bottom;
  bottom: 0;
  height: 0;
}

.buttonstyle:hover {
  border-bottom: 1px solid #fff;
  transition: ease .5s;
}

.buttonstyle:hover::after, .buttonstyle:active:after {
  height: 100%;
}

.h2_style {
  font-family: "nudista-bold";
  font-size: 2.5rem;
  color: #000;
}

p {
  font-size: 1.2rem;
  font-family: "montserrat-regular";
  color: #000;
}

p strong {
  font-family: "montserrat-semibold";
  font-weight: 400;
}

.buttonstyle_white {
  font-size: 1rem;
  font-family: "montserrat-semibold";
  padding: .5rem 2rem;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  opacity: 89%;
  position: relative;
  border-bottom: 1px solid #fff;
}

.buttonstyle_white::after {
  content: '';
  margin: auto;
  position: absolute;
  background-color: #FFDD00;
  z-index: -1;
  left: 0;
  width: 100%;
  transition: ease .5s;
  transform-origin: bottom;
  bottom: 0;
  height: 0;
}

.buttonstyle_white:hover {
  border-bottom: 1px solid #FFDD00;
  transition: ease .5s;
}

.buttonstyle_white:hover::after, .buttonstyle_white:active:after {
  height: 100%;
}

.yellow_block_image {
  width: 35px;
  background-color: #FFDD00;
  height: 110px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 30%);
}

.first_section.background_img {
  padding: 0;
  height: 640px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: saturation;
  position: relative;
  width: 100%;
  display: table;
}

.first_section.background_img .inner_section {
  padding: 14.3rem 0;
  display: table-cell;
  vertical-align: middle;
}

.first_section.background_img .inner_section .p_style {
  padding: 1.7rem 0;
}

.first_section.background_img .mouse_icon {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translateX(-50%);
  width: 1.8rem;
  height: 2.5rem;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 2.5rem;
  cursor: pointer;
}

.first_section.background_img .mouse_icon::before {
  content: "";
  position: absolute;
  left: 49.5%;
  width: 1px;
  height: .6rem;
  background: #FFDD00;
  top: .5rem;
  border-radius: .7rem;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.second_section {
  background-color: #fff;
}

.second_section .h2_style {
  padding: 2rem 0;
}

.second_section .on_responsive_image {
  display: none;
}

.second_section p {
  line-height: 1.667;
  padding-bottom: 1rem;
  max-width: 530px;
}

.second_section .background_img {
  height: 400px;
  position: relative;
}

.third_section {
  background-color: black;
}

.third_section .h2_style {
  color: #fff;
  font-family: "nudista-bold";
  padding: 0 12px 1.7rem 12px;
}

.third_section .sub_p_style {
  color: #fff;
  font-family: "montserrat-regular";
  line-height: 1.643;
  padding-bottom: 1.5rem;
}

.third_section .background_img {
  width: 100%;
  height: 530px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: saturation;
  position: relative;
}

.third_section .background_img h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "montserrat-regular";
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  color: #fff;
  opacity: 1;
  min-width: 300px;
  text-transform: uppercase;
}

.third_section .view_all_section {
  padding-top: 1rem;
  text-align: right;
  padding-right: 0;
}

.third_section .view_all_section .buttonstyle_underline_yellow {
  font-family: "montserrat-regular";
  font-size: 1rem;
  text-decoration: underline;
  color: #FFDD00;
  font-weight: 500;
  text-align: right;
}

.third_section .view_all_section .buttonstyle_underline_yellow .arrow_right {
  color: #FFDD00;
  fill: #FFDD00;
  width: 55px;
  height: 26px;
  text-align: right;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: horizontalscoll;
}

@keyframes horizontalscoll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(25px);
  }
}

.fourth_section .h2_style {
  font-family: "nudista-bold";
  padding-bottom: 2rem;
}

.fourth_section .sub_title {
  font-family: "montserrat-regular";
  line-height: 1.5;
  padding-bottom: 2rem;
  max-width: 630px;
  color: #000;
}

.fourth_section .inner_section_project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
}

.fourth_section .inner_section_project .background_img {
  height: 350px;
  width: 100%;
}

.fourth_section .inner_section_project .title_section p {
  font-family: "montserrat-regular";
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.fourth_section .inner_section_project .title_section .h2_style {
  font-family: "montserrat-regular";
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0 .75rem;
  padding-bottom: 2rem;
  text-align: center;
}

.fourth_section .inner_section_project .title_section .button_section {
  text-align: center;
  justify-content: center;
  padding-bottom: 2rem;
  display: flex;
}

.fourth_section .inner_section_project .title_section .button_section .inner_button_section {
  border: 1px solid #D3D3D3;
  text-align: center;
  justify-content: center;
  display: flex;
}

.fourth_section .inner_section_project .title_section .button_section .inner_button_section .button_style {
  text-align: center;
  font-family: "montserrat-regular";
  font-size: .8rem;
  background-color: transparent;
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border: none;
}

.fourth_section .inner_section_project .title_section .button_section .inner_button_section .button_border {
  text-align: center;
  border-right: 1px solid #D3D3D3;
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 5px 0;
}

.fourth_section .buttonstyle_white {
  padding: 0.5rem 1.9rem;
  text-align: center;
  max-width: 210px;
}

.contact_us_footer {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: saturation;
}

.contact_us_footer .h2_style {
  font-family: "nudista-bold";
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 3.5rem 0;
  width: auto;
  margin: auto;
  color: #fff;
}

.main_footer_section {
  padding: 3rem 0;
}

.main_footer_section .header-logo {
  width: 200px;
  float: right;
}

.main_footer_section ul {
  max-width: 600px;
}

.main_footer_section ul li {
  font-family: "nudista-semibold-regular";
  font-size: 1.1rem;
  display: inline-block;
  padding: 1rem;
  padding-left: 0;
  text-align: left;
  text-transform: uppercase;
  min-width: 180px;
}

.main_footer_section ul li a {
  opacity: 100%;
}

.main_footer_section ul li a:hover {
  opacity: 70%;
}

.copyright_cont {
  background-color: #000;
  padding: 2rem 0;
}

.copyright_text {
  font-size: 0.8rem;
  color: #fff;
}

.copyright_text a {
  display: inline;
  font-family: "montserrat-regular";
  font-size: 0.8rem;
}

.copyright_line {
  display: inline-block;
  width: 20px;
  border-top: 1px solid #fff;
  position: relative;
  top: -3px;
  margin-right: 5px;
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: fa-beat 1.2s ease infinite;
  display: inline-block;
  padding: 0px 5px 0px 4px;
  color: #FFDD00;
}

.social_links {
  text-align: right;
}

.social_links img {
  width: 20px;
  vertical-align: middle;
  display: inline;
}

.social_links a:last-child {
  padding-left: 0.5rem;
}

.hamburger {
  margin-left: auto !important;
  opacity: 1 !important;
  border: none;
  appearance: none;
  background-color: transparent;
  right: 0;
  padding-top: 2rem;
  display: none;
}

.hamburger_menu_icon {
  position: relative;
  width: 35px;
}

.hamburger_menu_icon .line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #000;
  margin-bottom: 6px !important;
  position: relative;
  transform-origin: center;
  transition: cubic-bezier(0.32, 0.17, 0, 1) 0.5s;
  border-radius: 20px;
}

.menu_mobile_nav.active .hamburger_menu_icon .line:first-child {
  transform: rotate(45deg) translate(20%);
  background-color: #fff;
}

.menu_mobile_nav.active .hamburger_menu_icon .line:last-child {
  transform: rotate(-45deg) translate(20%);
  background-color: #fff;
}

.page_404 {
  padding: 188px 0px 240px 0px;
  direction: ltr;
}

.page_404 .title_404 {
  color: #212121;
  font-family: "montserrat-regular";
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.page_404 .text_404 {
  color: #868587;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 50px;
}

.page_404 .btn_404 {
  font-size: 18px;
  font-family: "montserrat-semibold";
  padding: 20px 0px;
  background-color: #FFDD00;
  border: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  opacity: 89%;
  position: relative;
  border-bottom: 1px solid #FFDD00;
  width: 321px;
  margin: 0 auto;
  transition-duration: 1s;
}

.page_404 .btn_404::after {
  content: '';
  margin: auto;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  left: 0;
  width: 100%;
  transition: ease .5s;
  transform-origin: bottom;
  bottom: 0;
  height: 0;
}

.page_404 .btn_404:hover {
  border-bottom: 1px solid #fff;
  transition: ease .5s;
}

.page_404 .btn_404:hover::after, .page_404 .btn_404:active:after {
  height: 100%;
}

.mobile_menu {
  display: none;
}

.main_company_section {
  padding: 0;
}

.main_company_section .main_company_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 100%;
}

.main_company_section .h1_style {
  font-family: "nudista-bold";
  font-size: 2.7rem;
  color: #FFDD00;
  padding: 3.8rem 0.5rem;
}

.main_company_section .nav_buttons {
  bottom: 0;
  text-align: center;
}

.main_company_section .nav_buttons .menu li {
  display: inline-block;
  margin: 4rem 5rem 0 5rem;
}

.main_company_section .nav_buttons .menu li a {
  color: #fff;
  font-family: "nudista-semibold-regular";
  font-size: 1.2rem;
  padding-bottom: 1.8rem;
  text-transform: uppercase;
}

.main_company_section .nav_buttons .menu li a:hover {
  color: #FFDD00;
  border-bottom: 3px solid #FFDD00;
}

.main_company_section .nav_buttons .menu .current-menu-item a {
  color: #FFDD00;
  border-bottom: 3px solid #FFDD00;
}

.main_company_section .nav_buttons_mobile {
  display: none;
}

.second_section_about_us .inner_section .h2_style {
  padding-top: 0;
  padding-bottom: 5rem;
}

.second_section_about_us .inner_section p {
  max-width: 610px;
}

.second_section_about_us p:last-child {
  padding-bottom: 3rem;
}

.second_section_about_us .background_img {
  height: 550px;
}

.second_section_about_us .yellow_block_image {
  transform: translate(50%, 50%);
}

.third_section_about_us .h2_style {
  padding-bottom: 5rem;
  padding-top: 0;
}

.third_section_about_us .background_img {
  height: 580px;
}

.fourth_section_about_us .h2_style {
  padding-bottom: 5rem;
  padding-top: 0;
}

.fourth_section_about_us p {
  max-width: 590px;
}

.fourth_section_about_us .background_img {
  height: 600px;
}

.second_section_core_values .inner_section .h2_style {
  padding-top: 0;
  padding-bottom: 7rem;
}

.second_section_core_values .inner_section p {
  max-width: 610px;
  padding-bottom: 0;
}

.second_section_core_values .inner_section .padding_for_button {
  padding-top: 8rem;
}

.second_section_core_values .background_img {
  height: 550px;
}

.second_section_core_values .yellow_block_image {
  display: none;
}

.third_section_core_values {
  background-color: #000;
}

.third_section_core_values .inner_section .h2_style {
  padding-top: 0;
  padding-bottom: 6rem;
  color: #fff;
}

.third_section_core_values .inner_section p {
  padding-bottom: 0;
  color: #fff;
}

.third_section_core_values .inner_section .padding_for_button {
  padding-top: 6.2rem;
}

.third_section_core_values .inner_section .buttonstyle_white {
  background-color: #e0d9d9;
  box-shadow: none;
  color: #000;
}

.third_section_core_values .inner_section .buttonstyle_white::after {
  border: 2px solid #e0d9d9;
}

.third_section_core_values .inner_section .buttonstyle_white:hover::after {
  border: 2px solid #FFDD00;
}

.third_section_core_values .background_img {
  height: 410px;
}

.third_section_core_values .yellow_block_image {
  display: none;
}

.fourth_sixth_section_core_values .inner_section .h2_style {
  padding-top: 0;
  padding-bottom: 6rem;
}

.fourth_sixth_section_core_values .inner_section p {
  max-width: 570px;
  padding-bottom: 2rem;
}

.fourth_sixth_section_core_values .inner_section .padding_for_button {
  padding-top: 3rem;
}

.fourth_sixth_section_core_values .background_img {
  height: 550px;
}

.fourth_sixth_section_core_values .yellow_block_image {
  display: none;
}

.team_structure_second_section .h2_style {
  padding-bottom: 5rem;
}

.team_structure_second_section .padding_custom {
  padding-top: 5rem;
}

.team_structure_second_section .background_img {
  height: 400px;
}

.team_structure_third_section {
  background-color: #000;
}

.team_structure_third_section .h2_style {
  color: #fff;
  padding-bottom: 7rem;
}

.team_structure_third_section .background_img {
  height: 600px;
}

.team_structure_third_section .inner_section .h2_style_yellow {
  padding-bottom: 5rem;
  color: #FFDD00;
}

.team_structure_third_section .inner_section p {
  color: #fff;
}

.team_structure_third_section .inner_section .padding_custom {
  padding-top: 5rem;
}

.team_structire_fourth_section .background_img {
  height: 600px;
}

.team_structire_fourth_section .inner_section .h2_style {
  padding-bottom: 5rem;
}

.team_structire_fourth_section .inner_section .padding_for_button {
  padding-top: 5rem;
}

.team_structire_fourth_section .yellow_block_image {
  left: 0;
  transform: translate(-50%, 50%);
}

.team_structire_fifth_section {
  background-blend-mode: saturation;
  background-color: rgba(0, 0, 0, 0.9);
}

.team_structire_fifth_section .h2_style {
  color: #FFDD00;
  padding-bottom: 4rem;
}

.team_structire_fifth_section .p_style {
  color: #fff;
  max-width: 640px;
  padding-bottom: 4rem;
}

.team_structire_fifth_section .inner_section p {
  color: #fff;
}

.team_structire_fifth_section .padding_for_button {
  padding-top: 4rem;
}

.team_structure_sixth_section .h2_style {
  padding-bottom: 4rem;
  font-size: 2.3rem;
}

.team_structure_sixth_section .background_img {
  height: 670px;
}

.team_structure_sixth_section .padding_custom {
  padding-top: 4rem;
}

.team_structure_seventh_section {
  background-color: #000;
}

.team_structure_seventh_section .background_img {
  height: 600px;
}

.team_structure_seventh_section .inner_section .h2_style {
  color: #FFDD00;
  padding-bottom: 6rem;
}

.team_structure_seventh_section .inner_section p {
  color: #fff;
}

.team_structure_seventh_section .padding_custom {
  padding-top: 5.5rem;
}

.team_structure_heighth_section .background_img {
  height: 400px;
}

.team_structure_heighth_section .h2_style {
  padding-bottom: 5rem;
}

.main_sevices_section {
  padding: 0;
}

.main_sevices_section .main_service_img {
  background-blend-mode: saturation;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
}

.main_sevices_section h1 {
  color: #FFDD00;
  padding: 4rem 0.5rem;
}

.second_section_services .inner_section .h2_style {
  padding-bottom: 5rem;
  font-size: 2.4rem;
}

.second_section_services .inner_section .padding_for_button {
  padding-top: 5rem;
}

.second_section_services .background_img {
  height: 550px;
}

.third_section_services {
  background-color: #000;
}

.third_section_services .background_img {
  height: 390px;
}

.third_section_services .yellow_block_image {
  left: 0;
  transform: translate(-50%, 30%);
}

.third_section_services p {
  color: #fff;
}

.third_section_services .h2_style {
  color: #fff;
  padding-bottom: 5rem;
  line-height: 0;
}

.third_section_services .padding_for_button {
  padding-top: 4rem;
}

.fourth_section_services .background_img {
  height: 410px;
}

.fourth_section_services .h2_style {
  padding-bottom: 5rem;
}

.main_contact_us {
  padding: 0;
  background-blend-mode: saturation;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
}

.main_contact_us .h1_style {
  color: #FFDD00;
  padding: 4rem 0.5rem;
  text-transform: uppercase;
}

.contact_us_content {
  background-color: #D8D8D8;
}

.contact_us_content .h2_style {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.contact_us_content .p_style {
  color: #000;
}

.contact_us_content .inner_contact_us {
  padding-top: 5rem;
}

.contact_us_content .inner_contact_us .inner_section {
  display: flex;
  padding-bottom: 2rem;
}

.contact_us_content .inner_contact_us .inner_section p {
  padding-left: 2rem;
}

.contact_us_content .inner_contact_us .inner_section img {
  height: 30px;
  width: 30px;
}

.contact_us_content .form_validation_parent {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  padding: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

.contact_us_content .form_validation_parent .form_item_style {
  border: 1px solid #d9d9d9;
  width: 100%;
  font-family: "montserrat-regular";
  font-size: 1rem;
  color: #4a4a4a;
  padding: 1rem;
}

.contact_us_content .form_validation_parent .buttonstyle {
  display: flex;
  margin: auto;
  width: auto;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

.wpcf7-not-valid-tip {
  font-size: .8rem;
  text-align: left;
}

.contact_fail_message {
  font-size: 18px;
  display: none;
  color: #dc3232;
  text-align: center;
}

.wpcf7 form.sent .wpcf7-response-output {
  display: none;
}

.contact_success_message {
  font-size: 18px;
  display: none;
  text-align: center;
  color: #46b450;
}

.wpcf7-submit.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  display: none;
}

.main_project_listing {
  padding: 0;
  background-blend-mode: saturation;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
}

.main_project_listing .h1_style {
  color: #FFDD00;
  padding: 4rem 0.5rem;
  text-transform: uppercase;
}

.project_listing .main_dropdown_button {
  border: none;
  appearance: none;
  background-color: transparent;
  font-family: "montserrat-semibold";
  font-size: 1rem;
  color: #000;
  display: inline-block;
}

.project_listing .arrow_down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 1rem;
}

.project_listing .category_dropdown {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
}

.project_listing .category_dropdown .inner_dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  left: 0;
  top: 0;
  transform: translate(0%, 25%);
  z-index: 1;
}

.project_listing .category_dropdown .inner_dropdown .dropdown-item {
  padding: 1rem 1.8rem;
  font-size: 1rem;
  font-family: "montserrat-regular";
  color: #000;
  text-align: center;
}

.project_listing .category_dropdown .inner_dropdown .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.project_listing .category_dropdown .inner_dropdown.active {
  display: block;
}

.project_listing .project_type_dropdown {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
}

.project_listing .project_type_dropdown .inner_dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  left: 0;
  top: 0;
  z-index: 1;
  margin-top: 1.7rem;
}

.project_listing .project_type_dropdown .inner_dropdown .dropdown-item {
  padding: 1rem 1.8rem;
  font-size: 1rem;
  font-family: "montserrat-regular";
  color: #000;
  text-align: center;
}

.project_listing .project_type_dropdown .inner_dropdown .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.project_listing .project_type_dropdown .inner_dropdown.active {
  display: block;
}

.project_listing .search_form .inner_search_form {
  border: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
}

.project_listing .search_form .search_input {
  padding: 1rem;
  padding-left: 3rem;
  margin-bottom: 0;
  width: 100%;
}

.project_listing .search_form .search_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  transform: translate(65%, 75%);
  appearance: none;
  cursor: pointer;
}

.project_listing .inner_section_project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
}

.project_listing .inner_section_project .background_img {
  height: 350px;
  width: 100%;
}

.project_listing .inner_section_project .title_section p {
  font-family: "montserrat-regular";
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.project_listing .inner_section_project .title_section .h2_style {
  font-family: "montserrat-regular";
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0 .8rem;
  padding-bottom: 2rem;
  text-align: center;
}

.project_listing .inner_section_project .title_section .button_section {
  text-align: center;
  justify-content: center;
  padding-bottom: 2rem;
  display: flex;
}

.project_listing .inner_section_project .title_section .button_section .inner_button_section {
  border: 1px solid #D3D3D3;
  text-align: center;
  justify-content: center;
  display: flex;
}

.project_listing .inner_section_project .title_section .button_section .inner_button_section .button_style {
  text-align: center;
  font-family: "montserrat-regular";
  font-size: .75rem;
  background-color: transparent;
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border: none;
}

.project_listing .inner_section_project .title_section .button_section .inner_button_section .button_border {
  text-align: center;
  border-right: 1px solid #D3D3D3;
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 5px 0;
}

.project_listing .list {
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
  float: right;
  height: 38px;
}

.project_listing .list .page {
  padding: 0 .4rem;
}

.project_listing .list .page .page-numbers {
  padding: .6rem .8rem;
  color: #000;
}

.project_listing .list .page .page-numbers:hover {
  background-color: #FFDD00;
}

.project_listing .list .page .current {
  background-color: #FFDD00;
}

.project_listing .list .page .page-numbers.next {
  padding: 0;
  padding: 0;
}

.project_listing .list .page .page-numbers.next .arrow-left {
  padding: .5rem .8rem;
}

.project_listing .list .page .page-numbers.next .arrow-left:hover {
  background-color: #FFDD00;
}

.project_listing .list .page .page-numbers.next .arrow-right {
  padding: .5rem .8rem;
}

.project_listing .list .page .page-numbers.next .arrow-right:hover {
  background-color: #FFDD00;
}

.project_listing .list .page .page-numbers.prev {
  padding: 0;
}

.project_listing .list .page .page-numbers.prev .arrow-left {
  padding: .5rem .8rem;
}

.project_listing .list .page .page-numbers.prev .arrow-left:hover {
  background-color: #FFDD00;
}

.project_listing .list .page .page-numbers.prev .arrow-right {
  padding: .5rem .8rem;
}

.project_listing .list .page .page-numbers.prev .arrow-right:hover {
  background-color: #FFDD00;
}

.single_project {
  padding: 5rem 0;
}

.single_project .back_project_list {
  color: #404040;
  font-family: "montserrat-regular";
  font-size: 1rem;
  display: flex;
}

.single_project .back_project_list img {
  width: 18px;
  height: 18px;
  color: #404040;
  margin: .1rem 1rem 0 0;
}

.single_project .back_project_list .inner_text {
  text-decoration: underline;
}

.single_project .h1_style {
  padding: 5rem .5rem 3rem .5rem;
  color: #000;
  max-width: inherit;
}

.single_project .background_img {
  display: block;
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.single_project .swiper-pagination-bullet-active {
  color: #fff !important;
  background-color: #fff !important;
  fill: #fff !important;
}

.single_project .p_style {
  font-family: "montserrat-regular";
  font-size: 1.5rem;
  line-height: 1.571;
  color: #000;
  display: flex;
  padding-bottom: 1rem;
}

.single_project .description p {
  font-family: "montserrat-regular";
  font-size: 1.5rem;
  line-height: 1.571;
  color: #000;
  display: flex;
}

.single_project .description strong {
  display: contents;
}

.related_projects {
  padding-top: 3rem;
}

.related_projects .h2_style {
  padding-bottom: 4rem;
}

.related_projects .inner_section_project {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.11);
}

.related_projects .inner_section_project .background_img {
  height: 435px;
  width: 100%;
}

.related_projects .inner_section_project .title_section p {
  font-family: "montserrat-regular";
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.related_projects .inner_section_project .title_section .h2_style {
  font-family: "montserrat-regular";
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 2rem;
  text-align: center;
}

.related_projects .inner_section_project .title_section .button_section {
  text-align: center;
  justify-content: center;
  padding-bottom: 2rem;
  display: flex;
}

.related_projects .inner_section_project .title_section .button_section .inner_button_section {
  border: 1px solid #D3D3D3;
  text-align: center;
  justify-content: center;
  display: flex;
}

.related_projects .inner_section_project .title_section .button_section .inner_button_section .button_style {
  text-align: center;
  font-family: "montserrat-regular";
  font-size: 1rem;
  background-color: transparent;
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border: none;
}

.related_projects .inner_section_project .title_section .button_section .inner_button_section .button_border {
  text-align: center;
  border-right: 1px solid #D3D3D3;
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 5px 0;
}
