@import 'variables';
@charset "utf-8";

@media (max-width: 1359px){
	.first_section.background_img{
		.inner_section{
			padding: 13.5rem 0;
			.h1_style{
				width: auto;
			}
		}
	}
}


@media (max-width: 1199px){
	.first_section.background_img{
		height: 590px;
		.inner_section{
			padding: 12.5rem 0;
		}
	}
	.fourth_section{
		.inner_section_project{
			.background_img{
				height: 295px;
			}
		} 
	}
	// services page
	.third_section_services{
		.inner_section{
			.h2_style{
				line-height: 1.2;
			}
		}
	}


}




@media screen and (max-width: 991px) {

	section{
		padding: 3rem 0;
	}
	.yellow_block_image{
		display: none;
	}
	
	// hamburger
	.hamburger{
		display: block;
	}
	// mobile menu classes
	.mobile_menu{
		display: block;
		width: 100%;
		min-height: 100vh;
		max-height: 100vh;
		position: fixed;
		padding-top: 150px;
		top: 0px;
		left: 0;
		background-color: #000;
		z-index: 3;
		overflow: auto;
		transform: translateY(-100%);
		transition: cubic-bezier(0.32, 0.17, 0, 1) .5s;
		transform-origin: top;
		.mobile_inner_cont{
			visibility: visible;
			transition: cubic-bezier(0.32, 0.17, 0, 1) .5s;
			padding-bottom: 70px;
		}

		.play_elements{
			.menu_el{
				font-family: $nudista-semibold-regular;
				font-size: 17px;
				letter-spacing: 1.32px;
			}
		}
		// .drop_right_els{
		// 	.drpright_el{
		// 		padding-right: 50px;
		// 		position: relative;
		// 		font-family: $nudista-semibold-regular;
		// 		font-size: 17px;
		// 		letter-spacing: 1.32px;
		// 		span{
		// 			position: absolute;
		// 			right: 20px;
		// 			top: 50%;
		// 			opacity: 0.4;
		// 			transform: translateY(-50%);
		// 		}
		// 	}
		// 	.drpright_el:hover{
		// 		span{
		// 			opacity: 1;
		// 		}
		// 	}
		// }
		// .menu_page_two_els.active{
		// 	transform: translateX(0px);
		// }
		// .menu_page_two_els{
		// 	position: absolute;
		// 	background: #fff;
		// 	z-index: 1;
		// 	width: 100%;
		// 	min-height: 100%;
		// 	transition: cubic-bezier(0.32, 0.17, 0, 1) .3s;
		// 	background-color: $bg_white;
		// 	transform: translateX(-100vw);
		// 	padding-bottom: 70px;
		// 	.page_2_container{
		// 		display: none;
		// 		.page_2_title{
		// 			font-size: 23px;
		// 			font-family: $nudista-semibold-regular;
		// 			letter-spacing: 1.7;
		// 			padding: 20px;
		// 		}
		// 	}
		// 	.page_2_content{
		// 		min-height: 100%;
		// 		.menu_title_group{
		// 			padding: 30px 0px;
		// 			border-bottom: 1px solid rgba(0,0,0,0.5);
		// 			.menu_el_title{
		// 				font-size: 18px;
		// 				color: rgba(0,0,0,0.4);
		// 				font-family: $montserrat-bold;
		// 				padding: 10px 20px;
		// 			}
		// 		}
		// 		.menu_title_group:first-child{
		// 			padding-top: 0px;
		// 		}
		// 		.menu_title_group:last-child{
		// 			border: none;
		// 		}
		// 	}
		// }
		// .menu_back_btn{
		// 	padding: 10px 20px;
		// 	padding-top: 30px;
		// 	font-size: 16px;
		// 	cursor: pointer;
		// 	color: rgba(0,0,0,0.4);
		// 	svg{
		// 		width: 14px;
		// 		height: 14px;
		// 		margin-right: 5px;
		// 		vertical-align: middle;
		// 		display: inline-block;
		// 		position: relative;
		// 		top: -3px;
		// 	}
		// }
		// .menu_back_btn:hover{
		// 	color: $main_color;
		// }
		.menu_elements{
			padding-top: 30px;
			padding-bottom: 30px;
			position: relative;
		}

		.menu_elements:first-child{
			padding-top: 0px;
		}
		
		.menu_el a{
			padding: 15px 0px;
			cursor: pointer;
			display: block;
			font-size: 15px;
			color: #fff;
		}
		.menu_el{
			padding: 0px 10px;
			border-bottom: 1px solid #2D2D2D;
		}
		.menu_el:last-child{
			border-bottom: none;
		}

		.menu_el a:hover{
			color: $main_color;
		}
		.menu_el.current-menu-item a{
			color: $main_color;
		}
		// for project singles and company sub pages
		.menu_el a.active{
			color: $main_color;
		}
		.menu_el a.active{
			color: $main_color;
		}
	}
	.mobile_menu.active{
		transform: translateX(0px);
		transition: cubic-bezier(0.32, 0.17, 0, 1) .5s;
	}
	.noscroll {
		overflow: hidden !important;
	}
	.mobile_active_blur_part.active{
		visibility: visible;
		opacity: 1;
	}
//  end of mobile menu classes
	.first_section.background_img{
		height: 420px;
		.inner_section{
			padding: 7rem 0;
		}
		.mouse_icon{
			display: none;
		}
	}
	.second_section{
		.inner_section{
			padding-bottom: 0rem;
		}
		.h2_style{
			padding: 0;
			padding-bottom: 2rem;
		}
		.on_responsive_d_none{
			display: none;
		}
		.on_responsive_image{
			display: block;
			padding-bottom: 2rem;
		}
		
	}
	.third_section{
		.h2_style{
			padding-top: 0;
			padding-bottom: 2rem;
		}
		.background_img{
			height: 420px;
		}
		.view_all_section{
			padding: 1rem 0 0 0;
			text-align: center;
			.buttonstyle_underline_yellow{
				padding-left: 2rem;
			}
		}
	}
	.fourth_section{
		.inner_section_project{
			.background_img{
				height: 400px;
			}
		} 
	}
	// footer before
	.contact_us_footer{
		.h2_style{
			font-size: 2rem;
			padding-top: 4rem;
		}
	}
	// footer middle
	.main_footer_section{
		padding: 2rem 0;
		ul{
			li {
				font-size: 1rem;
				padding: 1rem;
				padding-left: 0;
				min-width: 130px;
			}
		}
	}

	// Company page - about us header part
	.main_company_section {
		.nav_buttons{
			.menu{
				li{
					margin: 4rem 2rem 0 2rem;
				}
			}
		}
	}
	// about us blocks
	.second_section_about_us{
		.inner_section{
			p:last-child{
				margin-bottom: 0;
			}
			.h2_style{
				padding-bottom: 3rem;
			}
		}
		.padding_custom{
			padding-bottom: 3rem;
		}
	}
	.third_section_about_us{
		padding-bottom: 0;
		.background_img{
			height: 550px;
			margin-bottom: 3rem;
		}
		.h2_style{
			padding-bottom: 3rem;
		}
	}
	.fourth_section_about_us{
		.inner_section{
			padding-bottom: 3rem;
			.h2_style{
				padding-bottom: 3rem;
			}
		}
		.background_img{
			height: 550px;
		}
	}
	// core vlues page
	.second_section_core_values{
		.inner_section{
			.h2_style{
				padding-bottom: 3rem;
			}
			.padding_for_button{
				padding: 3rem 0;
			}
		}
	}
	.third_section_core_values{
		.inner_section{
			.h2_style{
				padding: 3rem 0;
			}
			.padding_for_button{
				padding-top: 3rem;
			}
		}
		.background_img{
			height: 450px;
		}
		
	}
	.fourth_sixth_section_core_values{
		.inner_section{
			.h2_style{
				padding-bottom: 3rem;
			}
			p{
				padding-bottom: 0rem;
			}
			.padding_for_button{
				padding: 3rem 0;
			}
		}
	}
	// team and structure page
	.team_structure_second_section{
		.h2_style{
			padding-bottom: 3rem;
		}
		.padding_custom{
			padding: 3rem 0;
		}
		.background_img{
			height: 400px;
		}
		.yellow_block_image{
			display: none;
		}
	}
	.team_structure_third_section{
		.h2_style{
			padding-bottom: 3rem;
		}
		.background_img{
			height: 550px;
		}
		.inner_section{
			.h2_style_yellow{
				padding: 3rem 0;
			}
			.padding_custom{
				padding-top: 3rem;
			}
		}
	}
	.team_structire_fourth_section{
		.background_img{
			height: 550px;
		}
		.inner_section{
			.h2_style{
				padding-bottom: 3rem;
			}
			.padding_for_button{
				padding: 3rem 0;
			}
		}
		.yellow_block_image{
			display: none;
		}
	}
	.team_structire_fifth_section{
		.h2_style{
			padding-bottom: 3rem;
		}
		.p_style{
			padding-bottom: 3rem;
		}
		.padding_for_button{
			padding-top	: 3rem;
		}
	}
	.team_structure_sixth_section{
		.h2_style{
			padding-bottom: 3rem;
		}
		.background_img{
			height: 550px;
		}
		.padding_custom{
			padding: 3rem 0;
		}
		.yellow_block_image{
			display: none;
		}
	}
	.team_structure_seventh_section{
		.background_img{
			height: 550px;
		}
		.inner_section{
			.h2_style{
				padding: 3rem 0;
			}
		}
		.padding_custom{
			padding-top: 3rem;
		}
	}
	.team_structure_heighth_section{
		.background_img{
			height: 400px;
		}
		.h2_style{
			padding-bottom: 3rem;
		}
		p{
			padding-bottom: 3rem;
		}
	}
	// services page

	.second_section_services{
		.inner_section{
			.h2_style{
				padding-bottom: 3rem;
			}
			.padding_for_button{
				padding: 3rem 0;
			}
		}
	}

	.third_section_services{
		.h2_style{
			padding: 3rem 0;
		}
		.padding_for_button{
			padding-top: 3rem;
		}
	}

	.fourth_section_services{
		.h2_style{
			padding-bottom: 3rem;
		}
		.padding_custom{
			padding-bottom: 3rem;
		}
	}
	// single project page
	.single_project{
		padding: 3rem 0;
		.h1_style{
			padding: 3rem 0.5rem;
		}
	} 
}




@media (max-width: 767px){
	h1{
		font-size: 1.5rem;
	}
	.h1_style{
		font-size: 1.5rem;
	}
	.h2_style{
		font-size: 1.5rem;
	}
	.p_style{
		font-size: .9rem;
	}
	p{
		font-size: .9rem;
	}
	.buttonstyle{
		font-size: .8rem;
	}
	.buttonstyle_white{
		font-size: .8rem;
	}

	// homepage
	.first_section.background_img{
		height: 350px;
		.inner_section{
			padding: 5.8rem 0;
		}
	}
	.second_section{
		.background_img{
			height: 350px;
		}
	}
	.third_section{
		padding: 3rem 0;
		.h2_style{
			font-size: 1.5rem;
		}	
		.background_img{
			height: 350px;
			h2{
				font-size: 0.9rem;
			}
		}
		.view_all_section{
			.buttonstyle_underline_yellow{
				font-size: .9rem;
			}
			
		}
	}
	.fourth_section{
		.inner_section_project{
			.background_img{
				height: 330px;
			}
		} 
	}
	// footer before
	.contact_us_footer{
		.h2_style{
			padding-top: 5rem;
		}
		.button_style{
			font-size: .9rem;
		}
	}
	// footer middle
	.main_footer_section{
		padding: 2rem 0;
		.header-logo{
			width: 150px;
		}
		ul{
			li {
				font-size: .9rem;
				padding: .2rem;
			}
		}
	}
	// Company page - about us header part
	.main_company_section{
		.nav_buttons{
			.menu{
				li{
					margin: 1.1rem;
					a{
						padding-bottom: 1.2rem;
					}
				}
			}
		}
	}
	// about us page 
	.main_company_section{
		.main_company_img{
			height: 200px;
		}
		.h1_style{
			font-size: 1.5rem;
			padding: 3.2rem 0.5rem;
		}
		.nav_buttons{
			.menu{
				li{
					margin: 1.1rem 1rem 0 1rem;
				}
			}
		}
	}
	.second_section_about_us{
		.background_img{
			height: 450px;
		}
	}
	.third_section_about_us{
		.background_img{
			height: 450px;
		}
	}
	.fourth_section_about_us{
		.background_img{
			height: 450px;
		}
	}
	// core vlues page
	.second_section_core_values{
		.background_img{
			height: 450px;
		}
	}
	.third_section_core_values{
		.background_img{
			height: 450px;
		}
	}
	.fourth_sixth_section_core_values{
		.background_img{
			height: 450px;
		}
	}
	// team and structure page
	.team_structure_third_section{
		.background_img{
			height: 450px;
		}
	}
	.team_structire_fourth_section{
		.background_img{
			height: 450px;
		}
	}
	.team_structure_sixth_section{
		.h2_style{
			font-size: 1.5rem;
		}
		.background_img{
			height: 450px;
		}
		
	}
	.team_structure_seventh_section{
		.background_img{
			height: 450px;
		}		
	}

	// Services Page

	.main_sevices_section{
		.main_service_img{
			height: 200px;
		}
		.h1_style{
			font-size: 1.5rem;
			padding: 3rem 0.5rem;
		}
	}

	.second_section_services{
		.inner_section{
			.h2_style{
				font-size: 1.5rem;
			}
		}
		.background_img{
			height: 450px;
		}
	}

	.third_section_services{
		.background_img{
			height: 320px;
		}	
	}

	.fourth_section_services{
		.background_img{
			height: 320px;
		}
	}
	// contact us page 
	.main_contact_us{
		height: 200px;
	}

	.contact_us_content{
		.form_validation_parent{	
			padding: 2rem;	
		}
	}
	// list project page 
	.main_project_listing{
		height: 200px;
	}
	.search_form{
		padding-top: 3rem;
	}
	
	// single project page
	.single_project{
		.background_img{
			height: 400px;
		}
		.p_style{
			font-size: .9rem;
		}
		.description{
			p{
				font-size: .9rem;
			}
		}
	}
	// single project page
	.related_projects{
		padding-top: 0;
	}
	
}




@media (max-width: 575px){
	h1{
		font-size: 1.3rem;
	}
	.h1_style{
		font-size: 1.3rem;
	}
	.h2_style{
		font-size: 1.2rem;
	}
	.p_style{
		font-size: .9rem;
	}
	p{
		font-size: .9rem;
	}
	// header
	.hamburger{
		right: 0;
	}
	.first_section.background_img{
		height: 300px;
		.inner_section{
			padding: 4rem 0 1.7rem 0;
			.h1_style{
				max-width: none;
			}
		}
		.mouse_icon{
			display: none;
		}
	}
	.second_section{
		.background_img{
			height: 300px;
		}
		.p{
			line-height: 0;
			letter-spacing: 0;
		}
	}
	.third_section{
		.background_img{
			height: 300px;
			h2{
				font-size: 0.9rem;
			}
		}
	}
	.fourth_section{
		.inner_section_project{
			.background_img{
				height: 290px;
			}
			.title_section{
				p{
					font-size: 0.8rem;
				}
				.h2_style{
					font-size: 1rem;
				}
				.button_section{
					.inner_button_section{
						.button_style{
							font-size: 0.8rem;
							padding: 0.3rem .9rem;
							min-width: 120px;
						}
					}
				}
			}
		} 
		.buttonstyle_white{
			max-width: 180px;
		}
	}
	// footer before
	.contact_us_footer{
		height: 300px;
		.h2_style{
			text-align: center;
			padding-top: 3rem;
			font-size: 1.3rem;
		}
	}
	// footer middle
	.main_footer_section{
		padding: 2rem 0;
		ul{
			li {
				padding: 1rem;
				display: block;
				text-align: left;
			}
		}
	}
	// footer after
	.copyright_text {
		font-size: 0.7rem;	  
	}
	// Company page - about us header part
	.main_company_section{
		
		.nav_buttons{
			display: none;
		}
		.nav_buttons_mobile{
			display: block;
			padding-top: 1.4rem;
			.swiper{
				height: 50px;
			}
			.active{
				color: $main_color;
				border-bottom: 3px solid $main_color;
			}
			
			li{
				a{
					color: #fff;
					font-family: $nudista-semibold-regular;
					font-size: 1rem;
					padding-bottom: 1.2rem;
					text-transform: uppercase;
				}
				a:hover{
					color: $main_color;
					border-bottom: 3px solid $main_color;
				}
			}
			// .current-menu-item a{
			// 	color: $main_color;
			// 	border-bottom: 3px solid $main_color;
			// }
		}
	}

	// about us page 
	.second_section_about_us{
		padding-bottom: 0;
		.background_img{
			height: 300px;
		}
		.yellow_block_image{
			display: none;
		}
		.padding_custom{
			padding-bottom: 0;
		}
	}
	.third_section_about_us{
		.background_img{
			height: 300px;
		}
	}
	.fourth_section_about_us{
		.background_img{
			height: 300px;
		}
	}
	// core vlues page
	.second_section_core_values{
		.background_img{
			height: 300px;
		}
		.inner_section{
			.padding_for_button{
				padding-bottom: 0;
			}
		}
	}
	.third_section_core_values{
		.background_img{
			height: 300px;
		}
	}
	.fourth_sixth_section_core_values{
		.background_img{
			height: 300px;
		}
	}
	// project list page
	.project_listing {
		.inner_section_project{
			.background_img{
				height: 290px;
			}
		}
		.inner_section_project{
			.background_img{
				height: 290px;
			}
			.title_section{
				p{
					font-size: 0.8rem;
				}
				.h2_style{
					font-size: 1rem;
				}
				.button_section{
					.inner_button_section{
						.button_style{
							font-size: 0.8rem;
							padding: 0.3rem .9rem;
							min-width: 120px;
						}
					}
				}
			}
		} 
	}
	// single project page
	.related_projects{
		padding-top: 0;
		.inner_section_project{
			.background_img{
				height: 290px;
			}
			.title_section{
				p{
					font-size: 0.8rem;
				}
				.h2_style{
					font-size: 1rem;
				}
				.button_section{
					.inner_button_section{
						.button_style{
							font-size: 0.8rem;
							padding: 0.3rem .9rem;
							min-width: 120px;
						}
					}
				}
			}
		}
	} 
	// team structure 

	.team_structure_second_section{
		.background_img{
			height: 300px;
		}
		.inner_section{
			.padding_custom{
				padding-bottom: 0;
			}
		}
	}
	.team_structure_third_section{
		.background_img{
			height: 300px;
		}
	}
	.team_structire_fourth_section{
		.background_img{
			height: 300px;
		}
	}

	.team_structure_sixth_section{
		.h2_style{
			font-size: 1.2rem;
		}
		.background_img{
			height: 300px;
		}
	}
	.team_structure_seventh_section{
		background-color: #000;
		.background_img{
			height: 300px;
		}
	}
	.team_structure_heighth_section{
		.background_img{
			height: 300px;
		}
	}

	// services page

	.second_section_services{
		.background_img{
			height: 300px;
		}
		.inner_section{
			.padding_for_button{
				padding-bottom: 0;
			}
		}
	}

	.third_section_services{
		.background_img{
			height: 300px;
		}
	}

	.fourth_section_services{
		.background_img{
			height: 300px;
		}
	}
	// contact us page 

	.contact_us_content{
		.inner_contact_us{	
			padding-top: 3rem;	
		}
	}

	
	
}
@media (max-width: 470px){

}

@media (max-width: 400px){
	// footer after
	.copyright_text {
		font-size: 0.6rem;	  
	}
	
}
@media (max-width: 440px){
	// footer before
	.contact_us_footer{
		.h2_style{
			max-width: 350px;
		}
	}
}
@media (max-width: 350px){
	// footer before
	.contact_us_footer{
		.h2_style{
			max-width: fit-content;
		}
	}
}

@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}